<html>
<head>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>

<div class="wrapper login">
   <a href="index.html"> <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span></a>

<h2>Login</h2>
<div class="input-box">
    <span class="icon"><i class='bx bx-envelope'></i></span>
    <input  required name="username" [(ngModel)]="loginObj.username">
    <label>Username</label>
</div>

<div class="input-box">
    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
    <input type="password" name ="password" required [(ngModel)]="loginObj.password">
    <label>Password</label>
</div>

<a href="index.html"><button type="button" class="btn" (click)="onLogin()">Login</button></a>

</div>

<footer style="background-color: black; height: 40px;width: 1870px;;"></footer>
</body>
<script src="script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>